<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>商城</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/swiper.min.css"/>
      <script src="__PUBLIC__/Mobile/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Mobile/js/layer_mobile/layer.js" type="text/javascript"></script>
    <script type="text/javascript">
    	$(window).load(function(){
    		$(".loading").addClass("loader-chanage")
    		$(".loading").fadeOut(300)
    	})
       function collect(gid){
           $.get("{:U('Detail/collect')}","gid="+gid,function(res){
               if(res.status==1) {
                   layer.open({content: res.msg, skin: 'msg', time: 2})
                   $('.collect img').attr("src", "__PUBLIC__/Mobile/images/detail-heart-lv.png")}
               else if(res.status==2){layer.open({content: res.msg, skin: 'msg', time: 2})}
               else{layer.open({content: res.msg, skin: 'msg', time: 2})}
           })
        }
    </script>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
	</div>
</div>
<!--loading页结束-->
<body>
	<header class="detail-header fixed-header">
		<a href="javascript:history.go(-1)"><img src="__PUBLIC__/Mobile/images/detail-left.png"/></a>
		<a href="{:U('Cart/cartList')}" class="right"><img src="__PUBLIC__/Mobile/images/shopbar.png"/></a>
	</header>
	<form action="{:U('Cart/addToCart')}" method="post" id="form2">
	<div class="contaniner fixed-contb">
		<section class="detail">
			<figure class="swiper-container">
				<ul class="swiper-wrapper">
                    <volist name="list" id="val">
                        <li class="swiper-slide">
                            <a href="#">
                                <img src="__PUBLIC__/Admin/Uploads/goods/thumb350/350_{$val['picname']}"/>
                            </a>
                        </li>
                    </volist>
				</ul>
				<div class="swiper-pagination">
				</div>
			</figure>
			<dl class="jiage">
				<dt>
					<h3>{$detail.goodsname|mb_substr=0,30,'utf-8'}</h3>

                <!--收藏这儿 需要用户登陆-->
                    <div class="collect">

                        <if condition="$cid neq null">
                            <a href="javascript:collect({$gid})">
                                <img src="__PUBLIC__/Mobile/images/detail-heart-lv.png"/>
                                <p>收藏</p>
                            </a>
                        <else />
                            <if condition="$Think.session.mid neq null">
                                <a href="javascript:collect({$gid})">
                                <img src="__PUBLIC__/Mobile/images/detail-heart-hei.png"/>
                                <p>收藏</p>
                                </a>
                             <else />
                                <a href="{:U('Detail/tologin',array('gid'=>$detail['id']))}">
                                    <img src="__PUBLIC__/Mobile/images/detail-heart-hei.png"/>
                                    <p>收藏</p>
                                </a>
                            </if>
                        </if>
					</div>

				</dt>
				<dd>
                    <input name="price" type="hidden" value="{$detail.price}">
					<b>￥{$detail.price}</b>
					<del>￥{$detail.marketprice}</del>
                    <span style="color: rgba(83, 83, 83, 0.87)">库存量{$detail.num}</span>
					<small>+{$detail['price']/10|floor}积分</small>
				</dd>
			</dl>
<!--			<div class="chose">
				<ul>
					<h3>颜色</h3>
					<li>黑色</li>
					<li>粉色</li>
					<li>灰色</li>
					<li>红色</li>
				</ul>
				<ul>
					<h3>尺寸</h3>
					<li>L</li>
					<li>XL</li>
					<li>XXL</li>
				</ul>
			</div>-->
			
			<div class="seven" style="background: #fff;">
				<span id="sss">
                    购买数量:
                    <div style="width: 20px;height: 40px;margin: -20px 0 0 90px;position: relative;">
                       <input style="width:30px;float: left;position: absolute;"  readonly class="text" name="buynum" id="buy-num" value="1" onkeyup="setAmount.modify('#buy-num');">
                    <div style="position: absolute;float: left;left: 50px;top:-8px;color:#535353">
                        <a class="btn-add" id="jian" href="javascript:jia();">+</a>
                        <a class="btn-reduce" id="jia" href="javascript:jian()" >-</a>
                    </div>
                    </div>
                    <input id="gid" name="gid" type="hidden" value="{$gid}"/><!--为购物流程保存的商品id-->
                </span>
                <script type="text/javascript">
                    //加
                    function jia(){
                        var num=document.getElementById("buy-num").value;
                        num++;
                        if(num > {$detail['num']}){
                            num={$detail['num']};
                        }
                        document.getElementById("buy-num").value=num;
                    }
                    //减
                    function jian(){
                        var num=document.getElementById("buy-num").value;
                        num--;
                        if(num  <= 1){
                            num=1;
                        }
                        document.getElementById("buy-num").value=num;
                    }
                    </script>

			</div>
			
			<ul class="same">
                <span>同类推荐</span>
                    <volist name="tj" id="value">
                        <a href="{:U('Detail/detail',array('gid'=>$value['id']))}">
                        <li class="one" style="margin: 0 4px;">
                            <img src="__PUBLIC__/Admin/Uploads/goods/{$value['pic']}"/>
                            <p>￥{$value.price}</p>
                        </li>
                            </a>
                    </volist>

			</ul>
			
			<article class="detail-article">
				<nav>
					<ul class="article">
						<li id="talkbox1" class="article-active">商品详情</li>
						<li id="talkbox2">评价</li>
					</ul>
				</nav>

				<section class="talkbox1">
                    <volist name="list" id="val">
                        <div >
                                <img src="__PUBLIC__/Admin/Uploads/goods/thumb350/350_{$val['picname']}" style="width:300px;height: 300px;margin-left: 57px;"/>
                        </div>
                    </volist>
                    <div style="margin-top: 10px;text-align: center;">产品描述:{$detail.description}</div>
				</section>

				<section class="talkbox2" style="display: none;">
					<ul class="talk">
                        <volist name="comment" id='value' empty="$empty">
                            <li>
                                <figure>
                                    <if condition="$value['pic'] neq null">
                                    <img src="__PUBLIC__/Admin/Uploads/member/thumb100/100_{$value['pic']}"/>
                                        <else />
                                    <img src="__PUBLIC__/Mobile/images/null.gif"/>
                                    </if>
                                </figure>
                                <dl>
                                    <dt>
                                        <p>{$value.username}</p>
                                        <time>{:date('Y-m-d H:i:s',$value['addtime'])}</time>
                                    <if condition="$value['start'] neq null">
                                        <div class="star">
                                            <for start="0" end="$value['start']" >
                                                <span><img src="__PUBLIC__/Mobile/images/detail-iocn01.png"/></span>
                                            </for>
                                            <for start="$value['start']" end="5" >
                                                <span><img src="__PUBLIC__/Mobile/images/detail-iocn001.png"/></span>
                                            </for>
                                        </div>
                                    </if>
                                    </dt>
                                    <dd>{$value.commentcontent}</dd>
                                    <volist name="value['picname']" id="v" empty="">
                                        <img src="__PUBLIC__/Admin/Uploads/comments/{$v['picname']}" style="width: 70px;height: 70px;float: left;margin-left: 5px;">
                                    </volist>
                                    <if condition="$value['replycontent'] neq null">
                                        <br /><br /><br /><br />
                                        <dd><span style="color:#e15e6b;">商家回复:</span>{$value['replycontent']}</dd>
                                    </if>
                                </dl>
                            </li>
                        </volist>
					</ul>
				</section>
			</article>
		</section>
	</div>
	
	
		<footer class="detail-footer fixed-footer">
			<a href="#" class="go-car">
				<input id="subCart" type="button" value="加入购物车"/>
			</a>
			<a href="javascript:toBuyCreateOrder()" class="buy">
				立即购买
			</a>
		</footer>
    </form>
    <input type="hidden" value="{$Think.session.mid}" id="mid">
<script src="__PUBLIC__/Mobile/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(window).scroll(function() {
	    if ($(".detail-header").offset().top > 50) {
        $(".detail-header").addClass("change");
    } else {
        $(".detail-header").removeClass("change");
    }
	});
</script>
<script src="__PUBLIC__/Mobile/js/swiper.min.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
			var mySwiper = new Swiper('.swiper-container',{
				    loop: true,
				    speed:1000,
					autoplay: 2000,
					pagination: '.swiper-pagination',
				  });
		})
	</script>
<script type="text/javascript">
	$(function(){
		$('.chose li').click(function(){
				
			$(this).addClass('chose-active').siblings().removeClass('chose-active');

			var tags=document.getElementsByClassName('chose-active');//获取标签

			var tagArr = "";
	        for(var i=0;i < tags.length; i++)
	        {
	            tagArr += tags[i].innerHTML;//保存满足条件的元素

	        }
	       
	        $('#sss').html(tagArr);

		});

		$('.article li').click(function(){

			$(this).addClass('article-active').siblings().removeClass('article-active');
			if($(this).attr("id")=="talkbox1"){
				$('.talkbox1').show();
				$('.talkbox2').hide();
			}else{
				$('.talkbox2').show();
				$('.talkbox1').hide();
			}

		});	
	});
    //加入购物车
        $(function(){
            $("#subCart").click(function(){
                $.post("{:U('Cart/addToCart')}",$("#form2").serialize(),function(res){
                    if(res.status=="ok"){
                        layer.open({
                            content: res.msg
                            ,btn: ['去我的购物车', '再逛逛']
                            ,yes: function(index){
                                location.href="{:U('Cart/cartList')}"
                                layer.close(index);
                            }
                            ,no: function(index){
                                location.href="{:U('Index/index')}"
                                layer.close(index);
                            }
                        });
                    }else{
                        layer.open({
                            content: res.msg
                            ,btn: '我知道了'
                        });
                    }
                })
            })
        })
    //立即购买
    function toBuyCreateOrder(){
        var mid=document.getElementById("mid").value;
        var gid=document.getElementById("gid").value;
        if(mid){
            $.post("{:U('Order/toBuyCreateOrder')}",$("#form2").serialize(),function(res){
                if(res.status=="ok"){
                    layer.open({
                        content: res.msg
                        ,btn: ['去付款']
                        ,yes: function(index){
                            location.href="{:U('Order/orderList')}?oid="+res.oid
                            layer.close(index);
                        }
                    });
                }else{
                    layer.open({
                        content: res.msg
                        ,btn: '我知道了'
                    });
                }
            })
        }else{
            layer.open({
                content:"登陆后才能购买"
                ,btn: ['去登陆','再逛逛']
                ,yes:function(index){
                    location.href="{:U('Detail/tologin')}?gid="+gid;
                    layer.close(index);
                }
            });
        }

    }

</script>
</body>
</html>