<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>左侧菜单页</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="__PUBLIC__/Admin/js/jquery.js"></script>

    <script type="text/javascript">
        $(function(){
            //导航切换
            $(".menuson .header").click(function(){
                var $parent = $(this).parent();
                $(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();

                $parent.addClass("active");
                if(!!$(this).next('.sub-menus').size()){
                    if($parent.hasClass("open")){
                        $parent.removeClass("open").find('.sub-menus').hide();
                    }else{
                        $parent.addClass("open").find('.sub-menus').show();
                    }
                }
            });

            // 三级菜单点击
            $('.sub-menus li').click(function(e) {
                $(".sub-menus li.active").removeClass("active")
                $(this).addClass("active");
            });

            $('.title').click(function(){
                var $ul = $(this).next('ul');
                $('dd').find('.menuson').slideUp();
                if($ul.is(':visible')){
                    $(this).next('.menuson').slideUp();
                }else{
                    $(this).next('.menuson').slideDown();
                }
            });
        })
    </script>


</head>

<body style="background:#f0f9fd;">
<div class="lefttop"><span></span>后台管理</div>

<dl class="leftmenu">
    <notempty name="navList">
        <volist name="navList" id="v1">
            <dd>
                <div class="title">
                    <span><img src="__PUBLIC__/Admin/images/leftico01.png" /></span>{$v1.navname}
                </div>
                <ul class="menuson">
                    <notempty name="v1['child']">
                        <volist name="v1['child']" id="v2" key="k">
                            <li class={$k==1?"active":''}>
                                <div class="header">
                                    <cite></cite>
                                    <a href="{:U($v2['navurl'])}" target="rightFrame">{$v2.navname}</a>
                                    <i></i>
                                </div>
                            </li>
                        </volist>
                    </notempty>
                </ul>
            </dd>
        </volist>
    </notempty>
</dl>
</body>
</html>
